.asana-ext-link-wrapper {
  position: relative;
}

.asana-ext-link-wrapper .asana-ext-link-arrow {
  display: none;
  position: absolute;
  cursor: pointer;
  right: 100%;
  bottom: 0;

  height: 49px;
  width: 49px;
  background-color: #f2f2f2;
  border: 1px solid #c0ccd7;
  box-shadow: 0px 1px 0px 0px white;

  --webkit-border-radius: 3px 3px 3px 3px;
  border-radius: 3px 3px 3px 3px;

  // TODO: add button style hover effect
}

.asana-ext-link-wrapper .asana-ext-link-arrow .asana-ext-link-arrow-img {
  margin-top: 16px;
  margin-left: 16px;
}

.asana-ext-link-wrapper .asana-ext-link-arrow:hover {
  outline: none;
  box-shadow: 0px 0px 5px 1px rgba(#1F8DD6, 0.3);
}


.asana-ext-link-wrapper:hover .asana-ext-link-arrow {
  display: inline-block;
}