/* Styles for popup.html */

/* Common widgets, from Asana app */

.close-x {
  display: block;
  cursor: pointer;
  width: 16px;
  height: 16px;
  margin: 4px auto;
  background-position: -175px 0px;
}
.close-x:hover {
  background-position: -175px -25px;
}

.dropdown-arrow {
  background-position: -150px 0px;
  width: 16px;
  height: 16px;
  margin: 5px auto;  
}

.dropdown-arrow:hover, .button:hover .dropdown-arrow {
  background-position: -150px -25px;
}

.button {
  border-radius: 3px 3px 3px 3px;
  -webkit-border-radius: 3px 3px 3px 3px;
  box-shadow: inset 0px -1px rgba(0,0,0,0.12);
  -webkit-box-shadow: inset 0px -1px rgba(0,0,0,0.12);
  display:inline-block;
  padding: 4px 10px 5px;
  font-size: 14px;
  font-weight: 600;
  white-space: nowrap;
  cursor: pointer;
  text-align: center;
}
.button .button-text {
  display: inline-block;
}

.primary-button {
  color: white;
  text-shadow: 0px -1px #114D97;
  border: 1px solid #114D97;
  background-color: #1F8DD6;
  background-image: -webkit-gradient(linear,left top,left bottom,from(#74C1ED), color-stop(10%, #1F8DD6));
}
.primary-button:hover {
  background-color: #1F8DD6;
  background-image: -webkit-gradient(linear,left top,left bottom,from(#74C1ED), color-stop(100%, #1F8DD6));
  border: 1px solid #114D97;
}
.primary-button:hover .button-text {
  color: white;
  text-shadow: 0px -1px #114D97;
}
.primary-button:focus {
  box-shadow: 0px 0px 6px 3px rgba(31,141,214,0.3);
  -webkit-box-shadow: 0px 0px 6px 3px rgba(31,141,214,0.3);
  outline: none;
}

.primary-button.disabled, .primary-button.disabled:hover {
  background: #F2F2F2;
  border-color: #CCCCCC;
  outline: none;
  box-shadow: none;
  -webkit-box-shadow: none;
}
.primary-button.disabled .button-text, .primary-button.disabled:hover .button-text {
  color: #999999;
  text-shadow: none;
}

a:link, a:visited {
  color: #1F8DD6;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

/* Popup-specific layout */

body {
  overflow: hidden;
  width: 410px;
  height: 310px;  /* keep this correct for the window-based (non-button) version */
  padding: 0px;
  margin: 0px;
  background-color: #fff;
  font-size: 14px;
  font-family: proxima-nova, "Helvetica Neue", Arial, sans-serif;
}

a, input, textarea {
  outline: none;
}

.sprite {
  background-image: url('./sprite.png');
  background-size: 250px 75px;
  background-repeat: no-repeat;
  display: inline-block;
}

.left-column {
  display: inline-block;
  margin-left: 12px;
  width: 24px;
  height: 24px;
  vertical-align: middle;
}
.middle-column {
  display: inline-block;
  width: 310px;
  padding: 0 8px 0 8px;
  vertical-align: middle;
}
.right-column {
  display: inline-block;
  margin-right: 12px;
  width: 24px;
  height: 24px;
  vertical-align: middle;
}

.left-column .sprite {
  margin-top: 3px;
  height: 18px;
  width: 24px;
}

/* Popup areas */

.banner {
  font-size: 19px;
  font-weight: 600;
  background-color:#f2f2f2;
  color: #596573;
  text-shadow: 0px 1px #fff;
  border-bottom: 1px solid #c0ccd7;
  -webkit-border-radius: 1px 1px 0px 0px;
  background: -webkit-gradient(linear, left top, left bottom, from(white), color-stop(100%, #edf1f4));
}

.notes-row .left-column, .notes-row .middle-column, .notes-row .right-column {
  vertical-align: top;
}

.banner .middle-column {
  line-height: 46px;
  padding-top: 2px;
}

.banner .button {
  height: 26px;
  width: 26px;
  border: 1px solid #c0ccd7;
  box-shadow: 0px 1px 0px 0px white;
  padding: 0;
}

.banner .button:hover {
  background-color: rgba(17,77,151,.08);
}

.banner-add {
  position: relative;
}

.banner-add #workspace {
  font-weight: 200;
}

.icon-checkbox {
  background-position: -25px 0px;
}

.icon-notes {
  background-position: -50px 0px;
}

.icon-assignee {
  background-position: -75px 0px;
}

#workspace_select_container {
  display: inline-block;
  vertical-align: middle;
  line-height: 100%;
}

#workspace_select {
  opacity: 0;
  position: absolute;
  right: 0px;
  top: 0px;
}

#workspace_select:hover ~ .button {
  background-color: red;
}

.name-row {
  padding-top: 14px;
}
.name-row #name_input {
  font-size: 20px;
  width: 100%;
}

.notes-row #notes_input {
  width: 100%;
  resize: none;
  height: 96px;
}

.user.selected {
  background-color: #cccccc;
}
.user-photo-frame {
  display: inline-block;
}
.user-photo {
}
.user-name {
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
}

#assignee_list_container {
  height: 126px;
  overflow-x: hidden;
  overflow-y: scroll;
}

.footer {
  background: xcxc;
  padding: 8px 0 10px 0;
}


#error {
  width: 100%;
  padding: 10px 14px;
  background-color: #434C56;
  font-weight: 500;
  color: #ECF0F3;
}
.icon-error {
  background-image: url(sprite.png);
  background-position: 0px 0px;
  background-repeat: no-repeat;
  width: 19px;
  min-width: 19px;
  height: 16px;
  min-height: 16px;
  margin-bottom: -2px;
  display: inline-block;

}


#add_view {
  padding-bottom: 12px;
}


#login_view {
  padding-top: 10px;
  width: 100%;
  text-align: center;
  font-weight: 600;
  width: 382px;
}

.icon-success {
  background-image: url(sprite.png);
  background-position: 0px -50px;
  background-repeat: no-repeat;
  width: 19px;
  min-width: 19px;
  height: 16px;
  min-height: 16px;
  margin-bottom: -2px;
  display: inline-block;
}

input, textarea {
  -webkit-border-radius: 3px;
  border: 1px solid rgba(0,0,0,0.2);
  color: #212F40;
  padding: 4px 5px 3px;
  -webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.1), 0px 1px #fff;
}
select, input, textarea {
  font-size: 14px;
  font-family: proxima-nova, "Helvetica Neue", Arial, sans-serif;
  color: #212F40;
}